<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>MAIN</title>
<link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
</head>
<body>
	<div class="header-header" th:replace="header/header"></div>
	<div th:replace="sidebar/sidebar"></div>

	<div class="wrapper">
		<div class=container>
			<h2>Hi, welcome to here</h2>
			
		</div>
		<div class=center>
			<h1>L i b l a r y</h1>
			<h1>L i b l a r y</h1>

		</div>
		<div class="accommodation">

			<h1>New</h1>
			<p>최신 등록 도서</p>
			<a href="/new">view</a>
		</div>

		<div class="destination">

			<h1>Popular</h1>

			<p>인기 도서</p>

			<a href="/famous">view</a>


		</div>
	</div>
	<div th:replace="footer/footer.html"></div>
	<!-- 메인 페이지 HTML -->
<

</body>
</html>