<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>쇼핑몰 관리자 모드</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}">


</head>
<body>
	<div class="logo">
		<a href="/main">9817Kg </a>
	</div>
	<div class="container">
		<h1>A D M I N</h1>
		<div class="form-group">

			<a href="/book/addBook">도서 등록</a>
		</div>
		<div class="form-group">
			<a href="/admin/book_manage">도서 수정</a>
		</div>
		<div class="form-group">
			<a href="/admin/loan-list">대출 이력</a>
		</div>
	
		<div class="form-group">
			<a href="/admin/returned_list">반납 이력</a>
		</div>
		<div class="form-group">
			<a href="/admin/user_list">유저 목록</a>
		</div>
</div>
		<div class="content">
			<a class="main" href="/logout">logout</a>

		</div>


	




</body>
</html>