<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>my Loan Book</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/myBook.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
	<div class="logo">
		<a href="/main">9817Kg </a>
	</div>

	<h1>대여 도서 관리</h1>

	<div class="book-board">
		<table>
			<thead>
				<tr>

					<th>저자</th>
					<th>제목</th>
					<th>도서 번호</th>
					<th>대출일</th>
					<th>반납일</th>
					<th>반납여부</th>
					<th>도서 정보 보러가기</th>
					<th>반납하기</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="myBook, iterStat : ${loanDatas}">

					<td th:text="${myBook.book.author}"></td>
					<td th:text="${myBook.book.title}"></td>
					<td th:text="${myBook.book.code}"></td>
					<td th:text="${myBook.loanDate}"></td>
					<td th:text="${myBook.dueDate}"></td>
					<td th:text="${myBook.returned ? '반납완료' : '대여 중'}"></td>
					<td><a class="detail"
						th:href="@{/book/bookDetail/{bookId}(bookId=${myBook.book.itemcount})}">도서
							정보 보기</a></td>
					<td>
						<button class='btn' th:if="${!myBook.returned}"
							th:onclick="'returned(\''+ ${myBook.book.itemcount} + '\', \'' + ${dto.id} + '\')'"
							name="product">반납</button>

						<button class='btn' th:unless="${!myBook.returned}" name="product">반납완료
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="pagination">
			<span th:if="${bookPage.hasPrevious()}"> <a
				th:href="@{'/my/myBook?page=' + ${bookPageNumber - 1}}">이전</a>
			</span> <span
				th:each="pageNumber : ${#numbers.sequence(0, bookPage.totalPages + 1)}">
				<a th:href="@{'/my/myBook?page=' + ${pageNumber + 1}}"
				th:text="${pageNumber + 1}"></a>
			</span> <span th:if="${bookPage.hasNext()}"> <a
				th:href="@{'/my/myBook?page=' + ${bookPageNumber + 1}}">다음</a>
			</span>
		</div>
	</div>
	<div class="content">
		<a class="back" href="/my/mypage">Back</a> <a class="main"
			href="/main">Main</a>
	</div>
	<script>
		function returned(bookId, dtoId) {
			if (confirm('정말로 이 도서를 반납하시겠습니까?')) {
				$.ajax({
					type : 'post',
					url : '/api/returnedBook/' + bookId + '/' + dtoId,
					success : function(response) {
						if (response === 'success') {
							alert('반납에 성공하였습니다. 마이 페이지에서 확인해주세요.');
							location.reload();
						} else {
							console.log("삭제 중 예외 발생");
							alert('반납 중 오류가 발생했습니다.111');
						}
					},
					error : function() {
						alert('반납 중 오류가 발생했습니다.222');
						console.log('itemcount:', bookId);
						console.log('id:', dtoId);
					}
				});
			}
		}
	</script>
</body>
</html>
